{{# monitor}}
<div class="row">
    <div class="detailsL col-lg-3">
        <img class="img-fluid mt-2 detailsL" src="{{imagepath}}">
    </div>
    <div class="table-responsive col-lg-9 mt-5">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th scope="row">Price</th>
                    <td class="price">{{price}} </td>
                </tr>
                <tr>
                    <th scope="row">Model</th>
                    <td>&nbsp;{{model}}</td>
                </tr>
                <tr>
                    <th scope="row">Size</th>
                    <td>&nbsp;{{size}}</td>
                </tr>
                <tr>
                    <th scope="row">Resolution</th>
                    <td>&nbsp;{{resolution}}</td>
                </tr>
                <tr>
                    <th scope="row">Refresh rate</th>
                    <td>&nbsp;{{refrate}}</td>
                </tr>
                <tr>
                    <th scope="row">Refresh time</th>
                    <td>&nbsp;{{restime}}</td>
                </tr>
                <tr>
                    <th scope="row">Connection</th>
                    <td>&nbsp;{{connection}}</td>
                </tr>
                <tr>
                    <th scope="row">Weight</th>
                    <td>&nbsp;{{weight}}</td>
                </tr>
                <!-- DivTable.com -->
            </tbody>
        </table>
    </div>
</div>

{{/monitor}}