{{# pc}}
<div class="row">
    <div class="detailsL col-lg-3">
        <img class="img-fluid mt-2 detailsL" src="{{imagepath}}">

    </div>
    <div class="table-responsive col-lg-9 mt-5">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th scope="row">Price</th>
                    <td class="price">{{price}} </td>
                </tr>
                <tr>
                    <th scope="row">Model</th>
                    <td>&nbsp;{{model}}</td>
                </tr>
                <tr>
                    <th scope="row">CPU</th>
                    <td>&nbsp;{{cpu}}</td>
                </tr>
                <tr>
                    <th scope="row">Ram</th>
                    <td>&nbsp;{{ram}}</td>
                </tr>
                <tr>
                    <th scope="row">Storage</th>
                    <td>&nbsp;{{storage}}</td>
                </tr>
                <tr>
                    <th scope="row">CD/DVD</th>
                    <td>&nbsp;{{cdndvd}}</td>
                </tr>
                <tr>
                    <th scope="row">VGA</th>
                    <td>&nbsp;{{vga}}</td>
                </tr>
                <tr>
                    <th scope="row">Monitor</th>
                    <td>&nbsp;{{monitor}}</td>
                </tr>
                <tr>
                    <th scope="row">Connection</th>
                    <td>&nbsp;{{connection}}</td>
                </tr>
                <tr>
                    <th scope="row">Tech</th>
                    <td>&nbsp;{{tech}}</td>
                </tr>
                <tr>
                    <th scope="row">Weight</th>
                    <td>&nbsp;{{weight}}</td>
                </tr>
                <tr>
                    <th scope="row">Battery</th>
                    <td>&nbsp;{{battery}}</td>
                </tr>
                <tr>
                    <th scope="row">OS</th>
                    <td>&nbsp;{{os}}</td>
                </tr>
                <!-- DivTable.com -->
            </tbody>
        </table>
    </div>
</div>
{{/pc}}