<p class="h5"><br><br><br>Laptop</p>
<hr/>
{{# each laptops }}
<div class="row">
  {{# each this }}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{{this.imagepath}}" href="#" data-toggle="tooltip" title=" Model: {{this.model}}">
      <div class="card-body d-flex flex-column">
        <div class="mt-auto">
          <p class="card-text price" > {{this.price}}</p>
          <p class="card-text">{{this.model}}</p>
          <a href="/laptops/details/{{this.model}}" target="_blank">
            <p class="details text-right h6">Details ></p>
          </a>
          <a href="#">
            <button type="button" class="btn btn-block btn-sm  btn-success">Add to cart</button>
          </a>
          {{!--
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}} {{!--
          <small class="text-muted">9 mins</small> --}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
<p class="h5">PC</p>
<hr/>
{{# each pcs }}
<div class="row">
  {{# each this }}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{{this.imagepath}}">
      <div class="card-body d-flex flex-column">
        <div class="mt-auto">
          <p class="card-text price" > {{this.price}}</p>
          <p class="card-text">{{this.model}}</p>
          <a href="/pcs/details/{{this.model}}" target="_blank">
            <p class="details text-right h6">Details ></p>
          </a>
          <a href="#">
            <button type="button" class="btn btn-block btn-sm  btn-success">Add to cart</button>
          </a>
          {{!--
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}} {{!--
          <small class="text-muted">9 mins</small> --}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
<p class="h5">Monitor</p>
<hr/>
{{# each monitors }}
<div class="row">
  {{# each this }}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{{this.imagepath}}">
      <div class="card-body d-flex flex-column">
        <div class="mt-auto">
          <p class="card-text price" > {{this.price}}</p>
          <p class="card-text">{{this.model}}</p>
          <a href="/monitors/details/{{this.model}}" target="_blank">
            <p class="details text-right h6">Details ></p>
          </a>
          <a href="#">
            <button type="button" class="btn btn-block btn-sm  btn-success">Add to cart</button>
          </a>
          {{!--
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> --}} {{!--
          <small class="text-muted">9 mins</small> --}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}

